
@import url(https://fonts.googleapis.com/css?family=BenchNine:700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans);
@import url(https://use.typekit.net/oom1faf.css);

#banner{
  border: none;
  flex: 1 0 100%;
  background-color: #ffffff;
  width: 100%;
  padding: 0px;
  height:100px;
  
}
header {
  font-family: bebas-neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  padding:0px;
  text-align: left;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
    color: #604e47;
  

}

#logowrapper {
  border-bottom: 6px solid #ff7f00;
  width:200px;
  height: 60px;
  padding: 40px 0px 0px 10px;
}



.snip1562 {
  background-color: #A51502;
  border: none;
  color: #eedddd;
  cursor: pointer;
  display: inline-block;
  font-family: 'BenchNine', Arial, sans-serif;
  font-size: 1em;
  font-size: 32px;

  line-height: 1em;
  margin: 15px 110px;
  outline: none;
  padding: 12px 40px 10px;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;

}

.snip1562:before,
.snip1562:after {
  border-color: #604e47;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 24px;
  position: absolute;
  width: 24px;
}

.snip1562:before {
  border-color: #604e47;
  border-left-width: 4px;
  border-top-width: 4px;
  left: -5px;
  top: -5px;
}

.snip1562:after {
  border-bottom-width: 4px;
  border-color: #604e47;
  border-right-width: 4px;
  bottom: -5px;
  right: -5px;
}

.snip1562:hover,
.snip1562.hover {
  background-color: #ff7f00;
}

.snip1562:hover:before,
.snip1562.hover:before,
.snip1562:hover:after,
.snip1562.hover:after {
  border-color: #ff7f00;
  height: 100%;
  width: 100%;
}


/* Demo purposes only */
body {
  background-image: url("background.jpg"); 
  background-size: 100%;
}

#strip{
  display: flex;
  justify-items: center;
  flex-flow: row wrap;
  border: none;
  padding: 0px;
  width: 100%;
  background-color: #DDC0B2aa;
  border-bottom: 25px solid #604e47;
  font-family: 'Droid Sans', droid-sans, sans-serif;
}
#strip #vidbox{
  padding: 20px;
  flex: 2 1 auto;
  transition: all 2s;
  /*width: 50%;*/
}
#welcome{
  
  flex: 1 1 auto;
  font-size: 1.5em;
}

.videostream{
  
  display: block;
  margin: auto;
  
  width: 50%;
  max-width: 750px;
  min-width: 300px;
}
.button-wrapper{
  max-width:500px;
  padding-left: 5%;
  margin:auto;
  align-items: center;
}

#predwrap {
  flex: 3 1 auto;
  padding: 10px;
  transition: all 2s;
}

#prediction, #rating {
    color: #A51502;
    margin: auto;
    width:50%;
    max-width: 700px;
    font-size: 2em;
}
